* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    /* background-image: url("../images/main-background-image.jpg"); */
}

header {
    padding: 20px 10px;
}

header h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 15px;
}

footer {
    padding: 20px 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-links ul {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: space-around;
    padding: 5px;
}

.hero-image {
    display: flex;
}

.hero-image img {
    width: 50%;
}

.hero-about {
    display: flex;
    flex-wrap: wrap;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 10px;
}

@media screen and (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-links ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}