:root {
    --primary-color: #fff;
    --secondary-color: #6a6a6a;
    --font-color: #393939;
    --button-color: #b32db4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    color: var(--font-color);
    background-color: var(--primary-color);
}

/* header/nav section begin */
header {
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    margin: 0 auto;
}

header h1 {
    font-size: 2em;
    text-transform: uppercase;
    font-family: Inter, system-ui;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 1.3rem;
}

.navbar ul a {
    text-decoration: none;
    border-radius: 10px;
    justify-content: space-around;
    padding: 5px;
    color: var(--font-color);
}

.navbar li a:hover {
    background-color: var(--button-color);
    color: var(--primary-color);
    border: none;
}

/* header/nav section end */

/* footer section start */
footer {
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 20px 10px;
    display: flex;
    justify-content: center;
}

/* footer section end */

/* hero section start */
.hero {
    color: var(--secondary-color);
}

.hero img {
    width: 100%;
}

/* hero section end */

/* about me section start */

.about-me {
    display: flex;
    flex-direction: column;
}

.about-me p {
    text-align: center;
}

.profile-image {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
}

.profile-image img {
    width: 30%;
    object-fit: contain;
    border-radius: 10px;
}

/* about me section end */

/* main section styling start */
.content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 20px;
    color: var(--secondary-color);
}

.content h2 {
    text-align: center;
    text-transform: uppercase;
    color: var(--font-color);
    font-family: Inter, system-ui;
    font-size: 3em;
}

.content p {
    color: var(--font-color);
    font-family: Inter, system-ui;
    padding: 10px;
}

.content-bg-color {
    background-color: var(--primary-color);
}

/* main section styling end */

/* projects section start */
.projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projects h3 {
    color: var(--font-color);
}

.projects img {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* projects section end */

/* contact section start */
.contact {
    display: flex;
    flex-direction: column;
}

.contact-links a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--font-color);
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: var(--button-color);
}

.contact-links a:hover {
    background-color: var(--font-color);
    color: var(--button-color);
    border: none;
}

/*  contact section end */

/* responisive webpage for screen sizes larger than 600 px */
@media screen and (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .about-me {
        display: flex;
        flex-direction: row;
    }

    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .contact-links {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 1rem;
    }


    .project {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .projects {
        width: 50%;
        padding: 10px;
    }

    .projects h3 {
        text-align: center;
    }

    .projects img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        transition: 0.5s all ease-in-out;
    }

    .projects img:hover {
        transform: scale(1.2);
    }
}