/*:root {
    --primary-color: #1d3557;
    --secondary-color: #457b9d;
    --font-color: #f1faee;
    --button-color: #e63946;
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    color: var(--font-color);
}

header {
    padding: 10px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

header h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 1.3rem;
}

.navbar ul a {
    text-decoration: none;
    border: 1px solid var(--font-color);
    border-radius: 10px;
    justify-content: space-around;
    padding: 5px;
    color: var(--font-color);
}

.navbar li a:hover {
    background-color: var(--button-color);
    color: var(--font-color);
    border: none;
}

footer {
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 20px 10px;
    display: flex;
    justify-content: center;
}

.hero {
    color: var(--secondary-color);
}

.hero-image {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 30%;
    border-radius: 10px;
    border: 2px solid black;
    margin: 0 auto;

}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 10px;
    color: var(--secondary-color);
}

.content-bg-color {
    background-color: var(--primary-color);
}

.about-me {
    display: flex;
    flex-direction: column;
}

.about-me p {
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 3px solid red;
}

.projects img {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    border: 3px solid blue;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact-links a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--secondary-color);
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
}

.contact-links a:hover {
    background-color: var(--button-color);
    color: var(--font-color);
    border: none;
}

@media screen and (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .navbar ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contact-links {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 1rem;
    }

    .projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
    }