:root {
    --primary-color: #fff;
    --secondary-color: #6a6a6a;
    --font-color: #393939;
    --button-color: #b32db4;
}

/* custom font family Gotham */
@font-face {
    font-family: Gotham-Light;
    src: url("../fonts/GOTHAM-LIGHT.TTF");
}

@font-face {
    font-family: Gotham-Bold;
    src: url("../fonts/GOTHAM-BOLD.TTF");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    color: var(--font-color);
    background-color: var(--primary-color);
}

/* header/nav section begin */
header {
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: var(--primary-color);
    gap: 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

header h1 {
    font-size: 2em;
    text-transform: uppercase;
    font-family: Gotham-Light, system-ui;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 1.3rem;
    font-family: Gotham-Light, system-ui;
    text-transform: uppercase;
}

.navbar ul a {
    text-decoration: none;
    border-radius: 5px;
    justify-content: space-around;
    padding: 10px;
    color: var(--font-color);
}

.navbar li a:hover {
    background-color: var(--button-color);
    color: var(--primary-color);
    border: none;
}

/* header/nav section end */


/* hero section start */
.hero {
    color: var(--secondary-color);
}

.hero img {
    width: 100%;
    object-fit: cover;
    padding-bottom: 2em;
}

/* hero section end */

/* about me section start */

.about-me {
    display: flex;
    flex-direction: column-reverse;
}

.about-info {
    text-align: center;
    padding: 0 20px;
    margin: 0 auto;
}

.about-info h2 {
    font-size: 3em;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-family: Gotham-Bold, system-ui;
}

.about-info p {
    font-family: Gotham-Light;
    line-height: 1.5em;
}

.profile-image {
    padding: 10px;
    display: flex;
    justify-content: center;

    /* margin: auto; */
}

.profile-image img {
    width: 30%;
    object-fit: cover;
    border-radius: 10px;
}

/* about me section end */

/* main section styling start */
.content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 20px;
    color: var(--secondary-color);
}

.content h2 {
    text-align: center;
    text-transform: uppercase;
    color: var(--font-color);
    font-family: Gotham-Bold, system-ui;
    font-size: 3em;
}

.content p {
    color: var(--font-color);
    font-family: Gotham-Light, system-ui;
    padding: 10px;
}

.content-bg-color {
    background-color: var(--primary-color);
}

/* main section styling end */

/* projects section start */
.projects {
    display: grid;
}

.projects h3 {
    color: var(--font-color);
    padding-bottom: 10px;
}

.projects img {
    width: 100%;
    border-radius: 10px;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* projects section end */

/* contact section start */
.contact {
    display: flex;
    flex-direction: column;
}

.contact h2 {
    font-size: 2em;
}

.contact-links a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--font-color);
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 10px;
}

.contact-links a:hover {
    background-color: var(--button-color);
    color: var(--primary-color);
    border: none;
}

/*  contact section end */

/* footer section start */
footer {
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 20px 10px;
    display: flex;
    justify-content: center;
}

/* footer section end */

/* responisive webpage for screen sizes larger than 600 px */
@media screen and (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .hero img {
        width: 100%;
        object-fit: cover;
        object-position: 50% 25%;
    }

    .profile-image {
        padding: 20px 10px;
        display: flex;
        justify-content: center;
    }

    .profile-image img {
        width: 50%;
        object-fit: cover;
        border-radius: 10px;
    }

    .about-me {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .about-info {
        text-align: center;
        padding-left: 20px;
    }

    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .contact-links {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 1rem;
    }

    .project {
        width: 75%;
        margin: 0 auto;
        display: grid;
        gap: 1.2em;
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-col-span-3 {
        grid-column: span 3;
    }

    .projects {
        width: 100%;
        padding: 10px;
    }

    .projects h3 {
        text-align: center;
        padding-bottom: 20px;
    }

    .projects img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
}