* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Sora, Helvetica, Arial, sans-serif;
    /* background-image: url("../images/main-background-image.jpg"); */
}

header {
    padding: 20px 30px;
}

header h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links ul {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: space-around;
    padding: 5px;
}

.hero-image {
    display: flex;
}

.hero-image img {
    max-width: 150px;
    max-height: 250px;
    padding: 10px;
}

.hero-about {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-links ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}