:root {
    --primary-color: #1d3557;
    --secondary-color: #457b9d;
    --font-color: #f1faee;
    --button-color: #e63946;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    color: var(--font-color);
}

header {
    padding: 10px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

header h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

footer {
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 20px 10px;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar-links ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 1.3rem;
}

.navbar-links li {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-links li a {
    text-decoration: none;
    border: 1px solid var(--font-color);
    border-radius: 10px;
    justify-content: space-around;
    padding: 5px;
    color: var(--font-color);
}

.navbar-links li a:hover {
    background-color: var(--button-color);
    color: var(--font-color);
    border: none;
}

.hero {
    color: var(--secondary-color);
}

.hero-image {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    aspect-ratio: 1 /1;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
    flex: .25;

}

.hero-about {
    display: flex;
    flex-wrap: wrap;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 10px;
    color: var(--secondary-color);
}

.content h3 {
    margin-bottom: 10px;
}

.content-bg-color {
    background-color: var(--primary-color);
}

.projects {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

.projects:hover {}

.projects img {
    width: 100%;
    aspect-ratio: 1 /1;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 10px;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact-links a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--secondary-color);
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
}

.contact-links a:hover {
    background-color: var(--button-color);
    color: var(--font-color);
    border: none;
}

@media screen and (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-links ul {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .contact {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contact-links {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 1rem;
    }

    .projects {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }


}